<nav class="horizontal-stripe">
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal" id="navbar-list">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<section id="home">

</section>

<section id="portfolio">

</section>

<section id="about">

</section>

<section id="contact">

</section>