<nav class="horizontal-stripe">
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal" id="navbar-list">
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<section id="about" class="horizontal-stripe">
  <div class="dark-filter">
    <div class="pure-g">
    </div>
  </div>
</section>

<section id="portfolio" class="horizontal-stripe">
  <div class="pure-g">

  </div>
</section>

<section id="contact" class="horizontal-stripe">
  <div class="pure-g">

  </div>
</section>