<nav class="horizontal-stripe">
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal" id="navbar-list">
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<section id="about" class="horizontal-stripe">
  <div class="about-content">
    <div class="pure-g">
      <div id="about-description" class="pure-u-lg-1-2 pure-u-1-1">
        <h1>Hi! I'm Nick. </h1>
        <p>
          I love building things.<br>
          <br>
          In the past I've built companies. Now, I build software.
        </p>
      </div>
      <%= image_tag "square_DBC_headshot.jpg", id: "headshot", class: "pure-u-1-2" %>
    </div>
  </div>

  <div class="dark-filter">
    <div id="down-arrow">
      <%= image_tag "down-arrow-circle.png" %>
    </div>
  </div>

</section>

<section id="portfolio" class="horizontal-stripe">

</section>

<section id="contact" class="horizontal-stripe">
  <div class="pure-g">

  </div>
</section>