nav {
  background-color: #D1CDC0;
  position: fixed;
  z-index: 1;
}

.pure-g {
  max-width: 900px;
  margin: auto;
}

.horizontal-stripe {
  width: 100%;
  margin: auto;
}

#navbar-list ul {
  float: right;
}