nav {
  background-color: #D1CDC0;
  position: fixed;
  z-index: 5;
}

.pure-g {
  max-width: 1000px;
  margin: auto;
}

.horizontal-stripe {
  width: 100%;
  margin: auto;
}

#navbar-list ul {
  float: right;
}

#about {
  position: relative;
  width: 100%;
  top: 36px;
  height: 720px;
  background: url("DevBootcampspace.jpeg");
  @media (max-width: 768px) {
    background: url("DevBootcampspace_shrunk.jpeg");
  }
}

#headshot {
  width: 20em;
  height: 20em;
  border-radius: 10em;
}

.dark-filter {
  background-color: black;
  width: 100%;
  height: 720px;
  opacity: 0.8;
  z-index: 1;
}