nav {
  background-color: #D1CDC0;
  position: fixed;
  z-index: 5;
}

.pure-g {
  max-width: 1000px;
  margin: auto;
}

.horizontal-stripe {
  width: 100%;
  margin: auto;
}

#navbar-list ul {
  float: right;
}

#about {
  position: relative;
  width: 100%;
  top: 36px;
  height: 700px;
  background: url("DevBootcampspace.jpeg");

  @media (max-width: 768px) {
    background: url("DevBootcampspace_shrunk.jpeg");
  }
}

#headshot {
  width: 20em;
  height: 20em;
  border-radius: 10em;
  border: 5px #FFFFFF solid;
  margin: 70px 0px 0px 160px;
  @media (max-width: 1024px) {
    display: none;
  }
}


#down-arrow img {
  display: block;
  position: absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  bottom: 50px;
}

.about-content {
  width: 100%;
  height: 700px;
  z-index: 2;
  position: absolute;
}

#about-description h1 {
  font-family: 'Shadows Into Light';
  margin-top: 20px;
  font-size: 80px;
  color: #FFFFFF;
  @media (max-width: 1024px) {
    margin-left: 5%;
  }
}

#about-description p {
  font-family: 'Shadows Into Light';
  font-size: 35px;
  color: #FFFFFF;
  @media (max-width: 1024px) {
    margin-left: 5%;
  }
}

.dark-filter {
  background-color: black;
  width: 100%;
  height: 700px;
  opacity: 0.83;
  z-index: 1;
}

#portfolio {
}

.iphone-mockup {
  margin-top: 40px;
  height: 610px;
  background: url("iphone_black_portrait.png");
  background-repeat: no-repeat;
  position: relative;
}

#project-preview {
  position: absolute;
  top: 96px;
  left: 32px;
}